[Unit]
Description=Postfix trashmail socketmap lookup daemon
Before=postfix.service

[Service]
User=postfix
ExecStart=/usr/local/bin/postfix-trashmail -l

[Install]
WantedBy=postfix.service